@import "./utils/variables";
@import "./utils/general";
@import "./components/header";
@import "./components/hero";
@import "./components/main";
@import "./components/footer";
@import "./components/cocktails-card";
@import "./components/ingredients-card";
@import "./components/didnt";
