{{#each this}}
   <div class="fav-cocktails">
      <h2 class="fav-cocktails__title">Favorite cocktails</h2>
      <p class="fav-cocktails__article">
        You haven't added any favorite cocktails yet
      </p>
    </div>
  {{/each}}
