{{#each}}
  <div class='fav-ingredients'>
    <h2 class='fav-ingredients__title'>Favorite ingredients</h2>
    <p class='fav-ingredients__article'>
      You haven't added any favorite ingredients yet
    </p>
  </div>
{{/each}}