<div class='didnt'>
  <h2 class='didnt__title'>Sorry, we didn't find any cocktail for you</h2>
  <picture>
    <source
      srcset='
            ./images/card/frame1200.png    1x,
            ./images/card/frame1200@2x.png 2x
          '
      type='image/png'
      media='(min-width: 1200px)'
    />
    <source
      srcset='
            ./images/card/frame768.png    1x,
            ./images/card/frame768@2x.png 2x
          '
      type='image/png'
      media='(min-width: 768px)'
    />
    <source
      srcset='
            ./images/card/frame320.png    1x,
            ./images/card/frame320@2x.png 2x
          '
      type='image/png'
      media='(max-width: 767px)'
    />
    <img class='didnt__img' src='./images/card/frame320.png' alt='frame' />
  </picture>
</div>