$mobile: 319.97px;
$tablet: 767.98px;
$desktop: 1199.97px;

$primary-text-color: #000917;
$title-text-color: #202025;
$modal-text-color: #5F6775;
$accent-color: #fd5103;
$primary-white: #fcfcfc;
$white: #FFFFFF
