$mobile: 319.97px;
$tablet: 767.98px;
$desktop: 1199.97px;

:root {
  --primary-text-color: #202025;
  --title-text-color: #202025;
  --modal-text-color: #5f6775;
  --accent-color: #fd5103;
  --primary-white: #fcfcfc;
  --white: #ffffff;
  --background: #fcfcfc;
}
.dark {
  --primary-text-color: #fcfcfc;
  --title-text-color: #fcfcfc;
  --modal-text-color: #bdbdbd;
  --accent-color: #fd5103;
  --primary-white: #fcfcfc;
  --white: #ffffff;
  --background: #202025;
}

$primary-text-color: var(--primary-text-color);
$title-text-color: var(--title-text-color);
$modal-text-color: var(--modal-text-color);
$accent-color: var(--accent-color);
$primary-white: var(--primary-white);
$white: var(--white);
$background: var(--background);
