<div class="container">
  <div class="header">
    <a class="header__logo" href="/src/index.html">
      <picture>
        <source
          srcset="
            ./images/logo/logo1200.png    1x,
            ./images/logo/logo1200@2x.png 2x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/logo/logo768.png 1x, ./images/logo/logo768@2x.png 2x"
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/logo/logo320.png 1x, ./images/logo/logo320@2x.png 2x"
          type="image/png"
          media="(max-width: 767px)"
        />
        <img class="header__img" src="./images/logo/logo320.png" alt="logo" />
      </picture>
    </a>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header__icon" width="24" height="24">
        <use href="./images/icon.svg#menu"></use>
      </svg>
    </button>

    <ul class="menu list">
      <li class="menu__list"><a href="" class="menu__link list">Home</a></li>
      <li class="menu__list">
        <a href="" class="menu__link list">Favorite</a>
      </li>
    </ul>

    <div class="header-search">
      <form class="header-search__form list" id="search-form">
        <button class="header-search__button list" type="submit">
          <svg class="search__icon" width="25" height="25">
            <use href="./images/icon.svg#search"></use>
          </svg>
        </button>
        <input
          class="header-search__input list"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search "
        />
      </form>
    </div>
    <div class="header-switch">
      <input class="header-switch__input" type="checkbox" id="switch" /><label
        class="header-switch__label"
        for="switch"
        >Toggle</label
      >
    </div>
  </div>
</div>

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-container__switch">
    <picture class="log-menu">
      <source
        srcset="./images/logo/logo768.png 1x, ./images/logo/logo768@2x.png 2x"
        type="image/png"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/logo/logo320.png 1x, ./images/logo/logo320@2x.png 2x"
        type="image/png"
        media="(max-width: 767px)"
      />
      <img class="header__img" src="./images/logo/logo320.png" alt="logo" />
    </picture>
    <input
      class="menu-container__input"
      type="checkbox"
      id="switch-mob"
    /><label class="menu-container__label" for="switch-mob">Toggle</label>

    <button class="menu-toggle js-close-menu">
      <svg class="header__icon" width="32" height="32">
        <use href="./images/icon.svg#close"></use>
      </svg>
    </button>
  </div>

  <div class="search">
    <form class="search__form list" id="search-form">
      <button class="search__button list" type="submit">
        <svg class="search__icon" width="25" height="25">
          <use href="./images/icon.svg#search"></use>
        </svg>
      </button>
      <input
        class="search__input list"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search "
      />
    </form>
    <ul class="mobile-menu list">
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link list">Home</a>
      </li>
      <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link list">Favorite</a>
      </li>
    </ul>
  </div>
</div>
