<section>
  <div class="container">
    <div class="hero">
      <div class="hero-mob">
        <h1 class="hero-mob__title">
          A party without cocktails is not like a party
        </h1>
        <picture>
          <source
            srcset="
              ./images/hero/hero320.png    1x,
              ./images/hero/hero320@2x.png 2x
            "
            type="image/png"
            media="(min-width: 320px)"
          />
          <img
            class="hero-mob__img"
            src="./images/hero/hero320.png"
            alt="logo"
          />
        </picture>
        <p class="hero-mob__article">Search your favorite cocktail by ABC</p>
        <div id="selector" class="hero-mob__select">
          <div class="hero-mob__select-input" data-type="input">
            <span>A</span>
            <svg
              class="hero-mob__select-icon"
              width="24"
              height="24"
              data-type="svg"
            >
              <use href="./images/icon.svg#arrow"></use>
            </svg>
          </div>

          <div class="hero-mob__dropdown">
            <ul class="hero-mob__select-list list">
              <li class="hero-mob__select-item" id="A">A</li>
              <li class="hero-mob__select-item" id="B">B</li>
              <li class="hero-mob__select-item" id="C">C</li>
              <li class="hero-mob__select-item" id="D">D</li>
              <li class="hero-mob__select-item" id="E">E</li>
              <li class="hero-mob__select-item" id="F">F</li>
              <li class="hero-mob__select-item" id="G">G</li>
              <li class="hero-mob__select-item" id="H">H</li>
              <li class="hero-mob__select-item" id="I">I</li>
              <li class="hero-mob__select-item" id="J">J</li>
              <li class="hero-mob__select-item" id="K">K</li>
              <li class="hero-mob__select-item" id="L">L</li>
              <li class="hero-mob__select-item" id="M">M</li>
              <li class="hero-mob__select-item" id="N">N</li>
              <li class="hero-mob__select-item" id="O">O</li>
              <li class="hero-mob__select-item" id="P">P</li>
              <li class="hero-mob__select-item" id="Q">Q</li>
              <li class="hero-mob__select-item" id="R">R</li>
              <li class="hero-mob__select-item" id="S">S</li>
              <li class="hero-mob__select-item" id="T">T</li>
              <li class="hero-mob__select-item" id="U">U</li>
              <li class="hero-mob__select-item" id="V">V</li>
              <li class="hero-mob__select-item" id="W">W</li>
              <li class="hero-mob__select-item" id="X">X</li>
              <li class="hero-mob__select-item" id="Y">Y</li>
              <li class="hero-mob__select-item" id="Z">Z</li>
              <li class="hero-mob__select-item" id="1">1</li>
              <li class="hero-mob__select-item" id="2">2</li>
              <li class="hero-mob__select-item" id="3">3</li>
              <li class="hero-mob__select-item" id="4">4</li>
              <li class="hero-mob__select-item" id="5">5</li>
              <li class="hero-mob__select-item" id="6">6</li>
              <li class="hero-mob__select-item" id="7">7</li>
              <li class="hero-mob__select-item" id="8">8</li>
              <li class="hero-mob__select-item" id="9">9</li>
              <li class="hero-mob__select-item" id="0">0</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="hero-tablet">
        <div class="hero-tablet__block">
          <h1 class="hero-tablet__title">
            A party without cocktails is not like a party
          </h1>
          <p class="hero-tablet__article">
            Search your favorite cocktail by ABC
          </p>

          <ul class="hero-tablet__select list">
            <li class="hero-tablet__letter" id="A">A</li>
            <li class="hero-tablet__letter" id="B">B</li>
            <li class="hero-tablet__letter" id="C">C</li>
            <li class="hero-tablet__letter" id="D">D</li>
            <li class="hero-tablet__letter" id="E">E</li>
            <li class="hero-tablet__letter" id="F">F</li>
            <li class="hero-tablet__letter" id="G">G</li>
            <li class="hero-tablet__letter" id="H">H</li>
            <li class="hero-tablet__letter" id="I">I</li>
            <li class="hero-tablet__letter" id="J">J</li>
            <li class="hero-tablet__letter" id="K">K</li>
            <li class="hero-tablet__letter" id="L">L</li>
            <li class="hero-tablet__letter" id="M">M</li>
            <li class="hero-tablet__letter" id="N">N</li>
            <li class="hero-tablet__letter" id="O">O</li>
            <li class="hero-tablet__letter" id="P">P</li>
            <li class="hero-tablet__letter" id="Q">Q</li>
            <li class="hero-tablet__letter" id="R">R</li>
            <li class="hero-tablet__letter" id="S">S</li>
            <li class="hero-tablet__letter" id="T">T</li>
            <li class="hero-tablet__letter" id="U">U</li>
            <li class="hero-tablet__letter" id="V">V</li>
            <li class="hero-tablet__letter" id="W">W</li>
            <li class="hero-tablet__letter" id="X">X</li>
            <li class="hero-tablet__letter" id="Y">Y</li>
            <li class="hero-tablet__letter" id="Z">Z</li>
            <li class="hero-tablet__letter" id="1">1</li>
            <li class="hero-tablet__letter" id="2">2</li>
            <li class="hero-tablet__letter" id="3">3</li>
            <li class="hero-tablet__letter" id="4">4</li>
            <li class="hero-tablet__letter" id="5">5</li>
            <li class="hero-tablet__letter" id="6">6</li>
            <li class="hero-tablet__letter" id="7">7</li>
            <li class="hero-tablet__letter" id="8">8</li>
            <li class="hero-tablet__letter" id="9">9</li>
            <li class="hero-tablet__letter" id="0">0</li>
          </ul>
        </div>
        <div class="hero-tablet__block">
          <picture>
            <source
              srcset="
                ./images/hero/hero1200.png    1x,
                ./images/hero/hero1200@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/hero/hero768.png    1x,
                ./images/hero/hero768@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/hero320.png    1x,
                ./images/hero/hero320@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />
            <img
              class="hero-tablet__img"
              src="./images/hero/hero320.png"
              alt="logo"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
