<section class="section">
  <div class="container">
    <div class="hero__mob">
        <h1 class="hero-info__mob">A party without cocktails 
            is not like a party</h1>
        <img class="hero-img__mob" src="./images/hero/delicious-hero-300.jpg" alt="cocktail"  width="300" height="367">
        <p class="hero-desc__mob">Search your favorite cocktail by ABC</p>
    </div>



    
    <div class="hero">
      <div class="hero__list">
        <div class="hero-info">
          <h1 class="hero-info__tittle">A party without cocktails 
            is not like a party</h1>
          <p class="hero-info__desc">Search your favorite cocktail by ABC </p>
        </div>
      </div>
      <div class="hero__list">
        <img class="hero-img" src="./images/hero/delicious-hero-501.jpg"  alt="cocktail" width="501" height="580" />
      </div>
    </div>
  </div>
</section>
