<section class="section">
  <div class="container">
    <div class="hero">
      <div class="hero-mob">
        <h1 class="hero-mob__title">
          A party without cocktails is not like a party
        </h1>
        <picture>
          <source
            srcset="
              ./images/hero/hero320.png    1x,
              ./images/hero/hero320@2x.png 2x
            "
            type="image/png"
            media="(min-width: 320px)"
          />
          <img
            class="hero-mob__img"
            src="./images/hero/hero320.png"
            alt="logo"
          />
        </picture>
        <p class="hero-mob__article">Search your favorite cocktail by ABC</p>
        <div id="selector" class="hero-mob__select">
          <div class="hero-mob__select-input">
            A
            <svg class="hero-mob__select-icon" width="24" height="24">
              <use href="./images/icon.svg#arrow"></use>
            </svg>
          </div>

          <div class="hero-mob__dropdown">
            <ul class="hero-mob__select-list list">
              <li class="hero-mob__select-item" value="A">A</li>
              <li class="hero-mob__select-item" value="B">B</li>
              <li class="hero-mob__select-item" value="C">C</li>
              <li class="hero-mob__select-item" value="D">D</li>
              <li class="hero-mob__select-item" value="E">E</li>
              <li class="hero-mob__select-item" value="F">F</li>
              <li class="hero-mob__select-item" value="G">G</li>
              <li class="hero-mob__select-item" value="H">H</li>
              <li class="hero-mob__select-item" value="I">I</li>
              <li class="hero-mob__select-item" value="J">J</li>
              <li class="hero-mob__select-item" value="K">K</li>
              <li class="hero-mob__select-item" value="L">L</li>
              <li class="hero-mob__select-item" value="M">M</li>
              <li class="hero-mob__select-item" value="N">N</li>
              <li class="hero-mob__select-item" value="O">O</li>
              <li class="hero-mob__select-item" value="P">P</li>
              <li class="hero-mob__select-item" value="Q">Q</li>
              <li class="hero-mob__select-item" value="R">R</li>
              <li class="hero-mob__select-item" value="S">S</li>
              <li class="hero-mob__select-item" value="T">T</li>
              <li class="hero-mob__select-item" value="U">U</li>
              <li class="hero-mob__select-item" value="V">V</li>
              <li class="hero-mob__select-item" value="W">W</li>
              <li class="hero-mob__select-item" value="X">X</li>
              <li class="hero-mob__select-item" value="Y">Y</li>
              <li class="hero-mob__select-item" value="Z">Z</li>
              <li class="hero-mob__select-item" value="1">1</li>
              <li class="hero-mob__select-item" value="2">2</li>
              <li class="hero-mob__select-item" value="3">3</li>
              <li class="hero-mob__select-item" value="4">4</li>
              <li class="hero-mob__select-item" value="5">5</li>
              <li class="hero-mob__select-item" value="6">6</li>
              <li class="hero-mob__select-item" value="7">7</li>
              <li class="hero-mob__select-item" value="8">8</li>
              <li class="hero-mob__select-item" value="9">9</li>
              <li class="hero-mob__select-item" value="0">0</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="hero-tablet">
        <div class="hero-tablet__block">
          <h1 class="hero-tablet__title">
            A party without cocktails is not like a party
          </h1>
          <p class="hero-tablet__article">
            Search your favorite cocktail by ABC
          </p>

          <ul class="hero-tablet__select list">
            <li class="hero-tablet__letter" value="A">A</li>
            <li class="hero-tablet__letter" value="B">B</li>
            <li class="hero-tablet__letter" value="C">C</li>
            <li class="hero-tablet__letter" value="D">D</li>
            <li class="hero-tablet__letter" value="E">E</li>
            <li class="hero-tablet__letter" value="F">F</li>
            <li class="hero-tablet__letter" value="G">G</li>
            <li class="hero-tablet__letter" value="H">H</li>
            <li class="hero-tablet__letter" value="I">I</li>
            <li class="hero-tablet__letter" value="J">J</li>
            <li class="hero-tablet__letter" value="K">K</li>
            <li class="hero-tablet__letter" value="L">L</li>
            <li class="hero-tablet__letter" value="M">M</li>
            <li class="hero-tablet__letter" value="N">N</li>
            <li class="hero-tablet__letter" value="O">O</li>
            <li class="hero-tablet__letter" value="P">P</li>
            <li class="hero-tablet__letter" value="Q">Q</li>
            <li class="hero-tablet__letter" value="R">R</li>
            <li class="hero-tablet__letter" value="S">S</li>
            <li class="hero-tablet__letter" value="T">T</li>
            <li class="hero-tablet__letter" value="U">U</li>
            <li class="hero-tablet__letter" value="V">V</li>
            <li class="hero-tablet__letter" value="W">W</li>
            <li class="hero-tablet__letter" value="X">X</li>
            <li class="hero-tablet__letter" value="Y">Y</li>
            <li class="hero-tablet__letter" value="Z">Z</li>
            <li class="hero-tablet__letter" value="1">1</li>
            <li class="hero-tablet__letter" value="2">2</li>
            <li class="hero-tablet__letter" value="3">3</li>
            <li class="hero-tablet__letter" value="4">4</li>
            <li class="hero-tablet__letter" value="5">5</li>
            <li class="hero-tablet__letter" value="6">6</li>
            <li class="hero-tablet__letter" value="7">7</li>
            <li class="hero-tablet__letter" value="8">8</li>
            <li class="hero-tablet__letter" value="9">9</li>
            <li class="hero-tablet__letter" value="0">0</li>
          </ul>
        </div>
        <div class="hero-tablet__block">
          <picture>
            <source
              srcset="
                ./images/hero/hero1200.png    1x,
                ./images/hero/hero1200@2x.png 2x
              "
              type="image/png"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/hero/hero768.png    1x,
                ./images/hero/hero768@2x.png 2x
              "
              type="image/png"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero/hero320.png    1x,
                ./images/hero/hero320@2x.png 2x
              "
              type="image/png"
              media="(min-width: 320px)"
            />
            <img
              class="hero-tablet__img"
              src="./images/hero/hero320.png"
              alt="logo"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<select class="hero-mob__select" id="mySelect1">
	<option class="hero-tablet__letter" value="A">A</option>
	<option class="hero-tablet__letter" value="B">B</option>
	<option class="hero-tablet__letter" value="C">C</option>
	<option class="hero-tablet__letter" value="D">D</option>
	<option class="hero-tablet__letter" value="E">E</option>
	<option class="hero-tablet__letter" value="F">F</option>
	<option class="hero-tablet__letter" value="G">G</option>
	<option class="hero-tablet__letter" value="H">H</option>
	<option class="hero-tablet__letter" value="I">I</option>
	<option class="hero-tablet__letter" value="J">J</option>
	<option class="hero-tablet__letter" value="K">K</option>
	<option class="hero-tablet__letter" value="L">L</option>
	<option class="hero-tablet__letter" value="M">M</option>
	<option class="hero-tablet__letter" value="N">N</option>
	<option class="hero-tablet__letter" value="O">O</option>
	<option class="hero-tablet__letter" value="P">P</option>
	<option class="hero-tablet__letter" value="Q">Q</option>
	<option class="hero-tablet__letter" value="R">R</option>
	<option class="hero-tablet__letter" value="S">S</option>
	<option class="hero-tablet__letter" value="T">T</option>
	<option class="hero-tablet__letter" value="U">U</option>
	<option class="hero-tablet__letter" value="V">V</option>
	<option class="hero-tablet__letter" value="W">W</option>
	<option class="hero-tablet__letter" value="X">X</option>
	<option class="hero-tablet__letter" value="Y">Y</option>
	<option class="hero-tablet__letter" value="Z">Z</option>
	<option class="hero-tablet__letter" value="1">1</option>
	<option class="hero-tablet__letter" value="2">2</option>
	<option class="hero-tablet__letter" value="3">3</option>
	<option class="hero-tablet__letter" value="4">4</option>
	<option class="hero-tablet__letter" value="5">5</option>
	<option class="hero-tablet__letter" value="6">6</option>
	<option class="hero-tablet__letter" value="7">7</option>
	<option class="hero-tablet__letter" value="8">8</option>
	<option class="hero-tablet__letter" value="9">9</option>
	<option class="hero-tablet__letter" value="0">0</option>
</select>-->
