<div class="ingredients">
<h3 class="ingredients__title">Campari</h3>
<p class="ingredients__base">Liqueur</p>
<div class="ingredients__line"></div>
<p class="ingredients__description">
    Campari  is an Italian alcoholic liqueur, considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the country in which it is sold), obtained from the infusion of herbs and fruit (including chinotto and cascarilla) in alcohol and water. It is a bitters, characterised by its dark red colour.
</p>
<ul class="ingredients__list list">
    <li class="ingredients__item"><span class="ingredients__star">✶</span>  Type:Bitters</li>
    <li class="ingredients__item"><span class="ingredients__star">✶</span>  Country of origin:Italy</li>
    <li class="ingredients__item"><span class="ingredients__star">✶</span>  Alcohol by volume:20.5–28.5%</li>
    <li class="ingredients__item"><span class="ingredients__star">✶</span>  Flavour:	Bitter, spicy and sweet</li>
</ul>
<button class="ingredients__btn">Add to favorite</button>
<svg class="ingredients__close-icon">
    <use class="cocktaile__close-btn" href="./images/icon.svg#close"></use>
</svg>
</div>