<section class="section">
  <div class="container">
    <div class="card">
      <h2 class="title" id="list-title">Cocktails</h2>
      <ul class="card__list list"></ul>
    </div>
  </div>
  <div class="card-cocktaile"></div>

  <div class="container">
    <div class="card-ingredients">
      <h2 class="title">Favorite ingredients</h2>
      <ul class="card-ingredients__list list"></ul>
    </div>
  </div>

<div class="button-main">
  <ul class="button-main__list">
    <li class="button-main__item">1</li>
    <li class="button-main__item">2</li>
    <li class="button-main__item">3</li>
    <li class="button-main__item">4</li>
    <li class="button-main__item">5</li>
  </ul>
</div>

</section>
