.cocktaile {
	position: relative;
	width: 100%;
	height: 100%;

	@media screen and (min-width: $tablet) {
		width: 820px;
		height: 600px;
	}

	&__wrapper-top {
		display: flex;
		gap: 32px;
	}

	&__wrapper-bottom {
		margin-top: 40px;
	}

	@media screen and (max-width: $tablet) {
		padding: 40px 20px;
	}
}

.cocktaile-card {
	&__title {
		margin-bottom: 20px;
		color: $primary-text-color;

		@media screen and (min-width: $tablet) {
			margin-bottom: 28px;
		}
	}

	&__instractions {
		color: $primary-text-color;
		font-weight: 600;
		line-height: 1.6;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__description {
		color: $modal-text-color;
		line-height: 1.75;
		margin-bottom: 32px;
	}

	&__image {
		margin-bottom: 22px;

		@media screen and (min-width: $tablet) {
			margin-bottom: 28px;
		}
	}

	&__btn {
		font-family: "Roboto";
		font-size: 20px;
		line-height: 1.2;

		width: fit-content;
		background-color: $accent-color;
		color: $primary-white;
		padding: 12px 24px;
		border: none;
		border-radius: 4px;
	}

	&__close-btn {
		position: absolute;
		top: 23px;
		right: 23px;

		display: flex;
		justify-content: center;
		align-items: center;
		color: $primary-text-color;
		background-color: transparent;
		border: none;
	}

	&__wrapper {
		padding: 0 28px 28px 28px;
	}

	&__instractions-wrapper {
		padding-right: 170px;
	}

	&__btn-wrapper {
		display: flex;
		justify-content: flex-end;
	}
}

.cocktaile-ingredients {
	&__title {
		color: $primary-text-color;
		font-weight: 600;
		line-height: 1.6;
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	&__per {
		color: $title-text-color;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 8px;
	}

	&__list {
		margin-bottom: 32px;
	}

	&__item {
		color: $modal-text-color;
		line-height: 1.6;
	}

	&__star {
		color: $title-text-color;
	}
}

@media screen and (min-width: $tablet) {
	.mobile-size {
		display: none;
	}
}

@media screen and (max-width: $tablet) {
	.tablet-size {
		display: none;
	}
}
