.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;

	padding: 20px 0;

	@media (min-width: $tablet) {
		justify-content: flex-start;
	}

	&__logo {
		@media (min-width: $tablet) {
			margin-right: 130px;
		}

		@media (min-width: $desktop) {
			margin-right: 45px;
		}
	}

  &__img {
    width:123px;

    @media (min-width: $tablet) {
      width: 156px;
    }
  }

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
    color:$primary-text-color;
	}
}

.header-search {
	&__form {
		display: flex;
		align-items: center;

		width: 290px;
		height: 40px;

		border: solid 1px $accent-color;
		border-radius: 4px;

		@media (max-width: $tablet) {
			display: none;
		}
	}
	&__button {
		background-color: transparent;
		border: none;
		width: 40px;
		height: 100%;
		border-right: solid 1px $accent-color;
    cursor: pointer;
	}
	&__icon {
		fill: $accent-color;
	}

	&__input {
    background: transparent;
		outline: transparent;
		line-height: 1.7;
		color: #5f6775;
		opacity: 0.4;
		padding-left: 8px;
	}
}

.header-switch {
	display: none;

	@media (min-width: $desktop) {
		display: flex;
		margin-left: auto;
		justify-content: center;
		align-items: center;
	}

  &__name {
    font-size:18px;

    &.active {
      color:$accent-color;
    }
  }

	&__input {
		height: 0;
		width: 0;
		visibility: hidden;

		&:checked + .header-switch__label {
			background: $accent-color;
		}
		&:checked + .header-switch__label::after {
			left: 100%;
			transform: translateX(-100%);
			background: $primary-white;
		}
	}

	&__label {
		display: block;
		cursor: pointer;
		text-indent: -9999px;
		width: 40px;
		height: 20px;
    margin:0 12px;
		background: $primary-white;
		display: block;
		border-radius: 100px;
		position: relative;
		border: solid 1px $accent-color;

		&::after {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			width: 18px;
			height: 18px;
			background: $accent-color;
			border-radius: 50%;
			transition: 0.3s;
		}
		&:active::after {
			width: 15px;
			right: 100%;
		}
	}
}

.header-menu {
	&__list {
		display: flex;
    position: relative;
    top: 13px;
		@media (max-width: $desktop) {
			display: none;
		}
	}

	&__item {
		margin-right: 60px;
		position: relative;
		padding-bottom: 10px;
		&:last-child {
			margin-right: 250px;
		}
		&:hover .header-menu__sub {
			display: block;
		}
	}

	&__link {
		font-size: 18px;
		line-height: 1.3;
		color: $primary-text-color;
	}
	&__sub {
		display: none;
		position: absolute;
		left: 0;
		top: 30px;
		border: 1px solid $accent-color;
		border-radius: 4px;
	}
	&__sub-item {
		width: 210px;
		padding: 12px;
		&:hover,
		&:focus {
			background-color: $accent-color;
			color: $background;
      .header-menu__sub-link {
        color: $background;
      }
		}
	}
	&__sub-link {
		font-size: 18px;
		line-height: 1.3;
		color: $primary-text-color;
	}
}

.menu-toggle {
	position: absolute;

	right:0;
  top: 34px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 50%;

  &.js-close-menu {
    right:34px;
  }

	@media (min-width: $desktop) {
		display: none;
	}
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;
	padding: 30px 20px;
	background-color: $background;
	z-index: 999;

	transform: translateX(100%);
	transition: transform 250ms ease-in-out;

	&__top {
		display: flex;
		align-items: center;

		@media (min-width: $tablet) {
			//justify-content: center;
		}
	}

  &__switch {
    display: flex;
    align-items: center;
    position: relative;
    top:6px;

    @media (min-width: $tablet) {
      margin-left:60px;
    }

  }

  &__switch-name {
    font-size:18px;

    &.active {
      color:$accent-color;
    }
  }

	//! switch

	&__input {
		height: 2px;
		width: 3px;
		visibility: hidden;

		&:checked + .menu-container__label {
			background: $accent-color;
		}
		&:checked + .menu-container__label::after {
			left: 100%;
			transform: translateX(-100%);
			background: $primary-white;
		}
	}

	&__label {
		display: block;
		cursor: pointer;
		text-indent: -9999px;
		width: 40px;
		height: 20px;
    margin:0 12px;
		background: $primary-white;
		display: block;
		border-radius: 100px;
		position: relative;
		border: solid 1px $accent-color;

		&::after {
			content: "";
			position: absolute;
			top: 0px;
			left: 0px;
			width: 18px;
			height: 18px;
			background: $accent-color;
			border-radius: 50%;
			transition: 0.3s;
		}
		&:active::after {
			width: 15px;
			right: 100%;
		}
	}
}
.menu-container.is-open {
	transform: translateX(0);
}

.mobile-menu {
	margin-top: 40px;

	&__item {
		width: 100%;
		position: relative;
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover .mobile-menu__sub {
			display: block;
		}
		&:hover .mobile-menu__icon {
			transform: rotate(-90deg);
		}
	}

	&__link {
		display: flex;

		font-size: 28px;
		line-height: 0.85;
		color: $primary-text-color;
	}

  &__icon {
    color: $primary-text-color;
  }

	&__sub {
		display: none;
		position: absolute;
		left: 0;
		top: 30px;
		border: 1px solid $accent-color;
		border-radius: 4px;
		@media (min-width: $tablet) {
			left: -30%;
			top: 30px;
		}
	}
	&__sub-item {
		width: 210px;
		padding: 12px;
		&:hover,
		&:focus {
			background-color: $accent-color;
			color: $primary-white;
		}
	}
	&__sub-link {
		font-size: 18px;
		line-height: 1.3;
		color: $primary-text-color;
		&:hover,
		&:focus {
			color: $primary-white;
		}
	}
	&__icon {
		margin-left: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.search {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin-top: 40px;

	@media (min-width: $tablet) {
		align-items: center;
	}

	&__form {
		display: flex;
		align-items: center;

		width: 280px;
		height: 40px;

		border: solid 1px $accent-color;
		border-radius: 4px;

		@media (min-width: $tablet) {
			display: none;
		}
	}
	&__button {
		background-color: transparent;
		border: none;
		width: 40px;
		height: 100%;
		border-right: solid 1px $accent-color;
	}
	&__icon {
		fill: $accent-color;
		margin-top: 5px;
	}

	&__input {
    background: transparent;
		outline: transparent;
		line-height: 1.7;
		color: #5f6775;
		opacity: 0.4;
		padding-left: 8px;
	}
}

.log-menu {
	display: none;
	@media (min-width: $tablet) {
		display: block;
	}
	@media (min-width: $desktop) {
		display: none;
	}
}
