// mobal

.hero-info__mob {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 42px;
margin-bottom: 28px;

color: #FD5103;
}

.hero-desc__mob {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.02em;
color: #000000;
opacity: 0.8;
}

.hero-img__mob {
    display: block;
    width: 100%;
    margin-bottom: 28px;
}

// !!!!!!!!!!!!!!!!!!!

.hero__mob {
    @media screen and (min-width:$tablet) {
        display: none;
        }
}

.hero {
    display: none;
    

    @media screen and (min-width:$tablet) {
        display: flex;
        }
    
        @media screen and (min-width:$desktop) {
        display: flex;
        }
}

.hero__list {
    width: 100%;

    @media screen and (min-width:$tablet) {
        
    }

    @media screen and (min-width:$desktop) {
        
    }
}

.hero-img {
    display: block;
    
    @media screen and (min-width:$tablet) {
        
        }
    
        @media screen and (min-width:$desktop) {
            
        }
}

.hero-info__tittle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 42px;
    color: #FD5103;
    margin-bottom: 40px;
    width: 336px;

    @media screen and (min-width:$desktop) {
        font-size: 52px;
        line-height: 80px;
        width: 683.85px;
    }

}

.hero-info__desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.02em;    
    color: #202025;
    opacity: 0.8;

    @media screen and (min-width:$desktop) {
        
        font-size: 18px;
        
    }
}