.ingredients {
  position: relative;
  padding: 40px 20px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $tablet) {
    padding: 40px 28px 28px 28px;
    width: 820px;
    height: 600px;
  }

  &__title {
    margin-bottom: 20px;
    color: $primary-text-color;
    @media screen and (min-width: $tablet) {
      margin-bottom: 28px;
    }
  }

  &__base {
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    color: #202025;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__line {
    @media screen and (max-width: $tablet) {
      display: none;
    }
    @media screen and (min-width: $tablet) {
      width: 100%;
      height: 1px;
      background-color: $accent-color;
      margin-bottom: 28px;
    }
  }

  &__description {
    line-height: 1.75;
    color: $modal-text-color;
    margin-bottom: 28px;
  }

  &__list {
    margin-bottom: 32px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__item {
    color: $modal-text-color;
    line-height: 1.6;
  }

  &__star {
    color: $title-text-color;
  }

  &__btn {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 1.2;

    width: fit-content;
    background-color: $accent-color;
    color: $primary-white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
  }

  &__btn-wrapper {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__close-btn {
    position: absolute;
    top: 23px;
    right: 23px;
    color: $primary-text-color;
    background-color: transparent;
    border: none;
  }
}
